body{
 background: lavender;
}
h1{
text-align: center;
color: indigo;
}
dt{
color: indigo;
background-color: lightyellow;
font-weight: bold 
}
img{
alignment-baseline: central;
}
table{
	border: 1px solid black;

}
td,th{
	box-sizing: border-box;
	border: 1px solid black;
}
